<div id = "myContainer">
    <div class="container">
        <div class="containerToolbar" >
            <mat-toolbar id="toolbarPrincipal">
                    <mat-toolbar-row>
                        <span>
                            <img id = "img1" src="../assets/Escudo_de_la_Escuela_Politécnica_Nacional.png" alt="">
                        </span>            
                        <span class="fill2"></span>
                        <span id="spanTitulo">
                            <h1 id="titulo1">ESCUELA POLITÉCNICA NACIONAL</h1>
                            <h2 id="titulo2">Sistema Integrado de Información - SII</h2>
                        </span>
                        <span class="fill"></span>
                        <span id="spanLeft" >
                            <div id="cardSesion">
                                <P>Bienvenido:</P>
                                <p>Rol()</p>
                                <button id="buttonCerrarSesion" (click)="loginService.cerrarSesion()"  mat-button>Cerrar Sesión</button>
                            </div>
                        </span>        
                    </mat-toolbar-row>
                    
                </mat-toolbar>
        </div>
        <div class="container3">
            <mat-drawer-container  class="example-container">
                    <mat-drawer *ngIf="loginService.estaLogeado()" id="side" mode="side" opened>
                        <p>Menú de Opciones</p>
                        <mat-accordion id="acordion">
                            <mat-expansion-panel id="expansionPanel">
                              <mat-expansion-panel-header>
                                <mat-panel-title>Proformas</mat-panel-title>
                              </mat-expansion-panel-header>              
                              <a [routerLink]="['/cliente']">Cliente</a><br>
                              <a [routerLink]="['/metodo']">Metodo</a><br>
                              <a [routerLink]="['/proforma']">Proforma</a><br>
                              <a [routerLink]="['/servicio']">Servicio</a><br>
                              <a [routerLink]="['/tipoCliente']">Tipo Cliente</a><br>
                              <a [routerLink]="['/tipoServicio']">Tipo Servicio</a><br>
                            </mat-expansion-panel>
                        </mat-accordion>                          
                        <mat-accordion>
                            <mat-expansion-panel id="expansionPanel2">
                              <mat-expansion-panel-header>
                                <mat-panel-title>Orden de Trabajo</mat-panel-title>
                              </mat-expansion-panel-header>              
                              <a [routerLink]="['/cargosPersonal']">Cargos Personal</a><br>
                              <a [routerLink]="['/laboratorio']">Laboratorio</a><br>
                              <a [routerLink]="['/personal']">Personal</a><br>
                              <a [routerLink]="['/tipoPersonal']">Tipo Personal</a><br>
                              <a [routerLink]="['/unidad']">Unidad</a><br>
                            </mat-expansion-panel>
                        </mat-accordion>                          
                        <mat-accordion>
                            <mat-expansion-panel id="expansionPanel3">
                              <mat-expansion-panel-header>
                                <mat-panel-title>Gestion de Productos</mat-panel-title>
                              </mat-expansion-panel-header>              
                              <a [routerLink]="['/estadoProducto']">Estado Producto</a><br>
                              <a [routerLink]="['/bodega']">Bodega</a><br>
                              <a [routerLink]="['/caracteristica']">Caracteristica</a><br>
                              <a [routerLink]="['/concentracion']">Concentracion</a><br>
                              <a [routerLink]="['/estadoProducto']">Estado Producto</a><br>
                              <a [routerLink]="['/existencias']">Existencias</a><br>
                              <a [routerLink]="['/grado']">Grado</a><br>
                              <a [routerLink]="['/posgiro']">Posgiro</a><br>
                              <a [routerLink]="['/presentacion']">Presentacion</a><br>
                              <a [routerLink]="['/producto']">Producto</a><br>
                              <a [routerLink]="['/riesgoEspecifico']">Riesgo Especifico</a><br>
                              <a [routerLink]="['/tipoProducto']">Tipo Producto</a><br>
                              <a [routerLink]="['/tipoProveedor']">Tipo Proveedor</a><br>
                              <a [routerLink]="['/unidadMedida']">Unidad Medida</a><br>
                            </mat-expansion-panel>
                        </mat-accordion>                          
                    </mat-drawer>
                    <mat-drawer-content>
                        
                        <router-outlet></router-outlet>  
                    </mat-drawer-content>
                  </mat-drawer-container>
        </div>  
    </div>    
</div>
